@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Bengali:wght@100..900&display=swap');


@import "tailwindcss";
@plugin "daisyui";

.container{
    @apply w-11/12 mx-auto
}

*{
    font-family: "Noto Sans Bengali", sans-serif;
}